<section>
  <div class="container mb-5">
    <h2 class="title">Messages</h2>
    <div id="message-container">

      {{#each messages}}
      <div class="card">

        <div class="card-header">
          <div class="row header-content">

            <div class="chip" title="User Name">
              <img src="/images/person.jpg" alt="Perso">
              {{this.Name}}
            </div>

            <div class="date" title="Sent on:">
              <b> Date: </b> {{this.Date}} &nbsp;
              <b> Time: </b> {{this.Time}}
            </div>

          </div>
        </div>

        <div class="card-body">
          <div class="row ml-2">

            <div class="contactInfo">
              <h5>Contact:</h5>
              <i class="bi bi-envelope-at-fill"></i> {{this.Email}} <br>
              <i class="bi bi-telephone-fill"></i> {{this.Phone}} <br>
              <b>Id:</b> {{this.UserId}}
            </div>

            <div class="message mt-3" title="Message">
              <b>Subject: </b>{{this.Subject}} <br>
              <b>Message:</b> <br>
              <span class="ml-2">{{this.Message}}</span>
            </div>

          </div>
        </div>

        <div class="card-footer">
          <div class="footer-content">

            <div class="actions">
              <a href="tel:+91{{this.Phone}}" class="btn"><i class="bi bi-telephone-fill"></i> Phone</a>
              <a href="mailto:{{this.Email}}" class="btn ml-2"><i class="bi bi-envelope-at-fill"></i> Email</a>
            </div>

          </div>
        </div>

      </div>
      {{/each}}

    </div>
  </div>


  <!-- Scroll Up -->
  <div id="back-top">
    <button title="Go to Top" onclick="topFunction()" id="topBtn"> <i class="bi bi-arrow-up-circle-fill"></i> </button>
  </div>

</section>


<script>

  /* Get the button for go to top */
  let mybutton = document.getElementById("topBtn");

  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () { scrollFunction() };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }

</script>


<style>
  a {
    color: black;
    text-decoration: none;
    /* Remove underline by default */
  }

  a:hover {
    color: #309db0;
    text-decoration: none;
    /* Ensure underline does not appear on hover */
  }

  .title {
    text-align: center;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: bold;
  }

  .card {
    margin-top: 65px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 50px;
    box-shadow: 0 14px 16px rgba(21, 105, 131, 0.5);
  }

  .card-header {
    background-color: #278a9b96;
    color: white;
  }

  .chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
    color: #309db0;
    font-weight: 500;
    font-size: large;
  }

  .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .date {
    padding: 0 15px;
  }

  .contactInfo {
    width: 25em;

  }

  .message {
    width: 40em;

  }


  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #278a9b96;
    color: white;
    height: 4em;
  }

  .footer-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: large;
  }

  .actions {
    margin-left: auto;
  }

  .actions a {
    background-color: white;
    color: #278a9b;
    font-weight: bold;
    width: 6em;
    border-radius: 20px;
    box-shadow: 0 6px 10px rgba(49, 133, 158, 0.5);
    transition: all 0.3s ease;
  }

  .actions a:hover {
    color: #278a9b;
    transform: scale(1.1);
  }

  #topBtn {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 30px;
    z-index: 99;
    font-size: 25px;
    border: none;
    outline: none;
    border-radius: 50%;
    color: white;
    background-image: linear-gradient(to bottom, #309db0, rgb(71, 172, 209));
    cursor: pointer;
    box-shadow: 0 2px 12px rgba(21, 105, 131, 0.5);
  }

  #topBtn:hover {
    background-image: linear-gradient(to top, #309db0, rgb(71, 172, 209));
    box-shadow: 0 2px 18px rgba(13, 89, 112, 0.5);
  }
</style>