<section>
    <div class="container mt-4">
        <table class="table" id="usersTable">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Email</th>
                    <th scope="col">Remove</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <th scope="row">{{incrementedIndex @index}}</th>
                    <td>{{this.First_Name}} {{this.Last_Name}}</td>
                    <td>{{this.Gender}}</td>
                    <td>{{this.Phone}}</td>
                    <td>{{this.Email}}</td>
                    <td>
                     <button class="btn btn-danger" onclick="deleteUser('{{this._id}}',  '{{this.First_Name}}', '{{this.Last_Name}}')">Remove</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>

<script>
    
function deleteUser(UserId, FirstName, LastName) {
  if (confirm(`Are you sure you want to remove ${FirstName} ${LastName}?`)) {
    $.ajax({
      url: '/admin/delete-user/' + UserId,
      method: 'DELETE',
      success: function(response) {
        if (response.success) {
          console.log('User deleted successfully');
          location.reload(); // Refresh the page or update the DOM as needed
        } else {
          alert('Failed to delete the User');
        }
      },
      error: function(error) {
        console.error('Error:', error);
        alert('An error occurred while deleting User');
      }
    });
  }
}

$(function () {
      $('#usersTable').DataTable();
    });


  </script>
