<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title text-center pb-4">Edit Images</h2>
                <form action="/admin/edit-images/{{product._id}}" method="post" enctype="multipart/form-data"
                    id="addImagesForm">

                    <!-- Existing Images -->
                    <div id="imageContainer" class="row mt-4">
                        {{#each product.images}}
                        <div class="image-group mb-4 ml-5">

                            <div class="overlay-buttons position-absolute top-0 end-0 pl-2 ml-1 ">

                                <div>
                                    <button class="btn btn-sm me-2 " id="editbtn" type="button">
                                        <i class="bi bi-pencil-square" id="edit" onclick="editImage('{{this}}')"></i>
                                    </button>
                                </div>

                                <div class="ml-5">
                                    <button class="btn btn-sm ml-5 " id="delbtn" type="button"
                                        onclick="deleteImage('{{this}}')">
                                        <i class="bi bi-trash3 " id="delete"></i>
                                    </button>
                                </div>
                            </div>

                            <img src="/product-images/{{this}}" alt="Product Image">
                            <input type="file" name="editImages" class="form-control d-none"
                                id="editImageInput_{{@index}}" data-image-name="{{this}}"
                                onchange="uploadEditedImage(event, '{{this}}')">
                        </div>
                        {{/each}}
                    </div>

                    <!-- New Images -->
                    <div id="newImageContainer" class="row mt-4"></div>

                    <div class="row">
                        <div class="addImages">
                            <button type="button" class="btn btn-primary" id="addImageButton"><i
                                    class="bi bi-plus-square"></i> Images <i class="bi bi-images"></i></button>
                        </div>
                        <div class="submit">
                            <button type="submit" class="btn btn-success mb-5" id="submit">Submit</button>
                        </div>
                    </div>

            </div>
            </form>
        </div>
    </div>
    </div>
</section>

<script>
    document.getElementById('addImageButton').addEventListener('click', function () {
        var newImageContainer = document.getElementById('newImageContainer');
        var imageGroup = document.createElement('div');
        imageGroup.className = 'image-group mb-2 ml-3';

        var input = document.createElement('input');
        input.type = 'file';
        input.name = 'Images';
        input.className = 'form-control';
        input.onchange = previewNewImage;

        imageGroup.appendChild(input);
        newImageContainer.appendChild(imageGroup);

    });

    function previewNewImage(event) {
        var input = event.target;
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                var imageGroup = document.createElement('div');
                imageGroup.className = 'image-group mt-3';

                var img = document.createElement('img');
                img.src = e.target.result;
                img.alt = 'New Image';
                img.style.width = '170px';
                img.style.height = '190px';


                imageGroup.appendChild(img);
                input.parentNode.appendChild(imageGroup);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }


    function deleteImage(imageName) {
        var xhr = new XMLHttpRequest();
        xhr.open('DELETE', '/admin/delete-image', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                location.reload();
            }
        };
        xhr.send(JSON.stringify({ imageName: imageName, productId: '{{product._id}}' }));
    }

    function editImage(imageName) {
        var index = Array.prototype.indexOf.call(document.querySelectorAll('i[onclick^="editImage"]'), event.target);
        document.getElementById(`editImageInput_${index}`).click();
    }

    function uploadEditedImage(event, oldImageName) {
        var newImageFile = event.target.files[0];
        var formData = new FormData();
        formData.append('newImage', newImageFile);
        formData.append('oldImageName', oldImageName);
        formData.append('productId', '{{product._id}}');

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/admin/edit-image', true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                location.reload();
            }
        };
        xhr.send(formData);
    }
</script>


<style>
    .title {
        font-family: 'Times New Roman', Times, serif;
        font-size: 35px;
        font-weight: bold;
    }

    #edit,
    #delete {
        color: rgba(178, 178, 178, 0.855);

    }

    #edit:hover {
        color: rgb(36, 169, 165);
    }

    #delete:hover {
        color: rgb(194, 119, 21);

    }

    #editbtn,
    #dltbtn {
        padding: 0;
    }

    .submit {
        margin-left: auto;
        margin-right: 25px;
        margin-top: 130px;
        margin-bottom: 30px;
    }

    .overlay-buttons {
        display: flex;
        gap: 0.5rem;
        z-index: 10;
    }

    .image-group img {
        display: block;
        margin: 0 auto;
        width: 170px;
        height: 180px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(18, 155, 150, 0.5);
    }


    #addImageButton {
        padding: 10px 20px;
        background-color: #2480bd;
        color: white;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        position: relative;
        margin-left: 30px;
        margin-top: 30px;
        overflow: hidden;
    }

    #addImageButton::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300%;
        padding-top: 300%;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        transform: translate(-70%, -50%) scale(0);
        opacity: 0;
        transition: transform 1s, opacity 1s;
    }

    #addImageButton:active::after {
        transform: translate(-70%, -50%) scale(1);
        opacity: 1;
        transition: 0s;
    }

    #submit {
        background-image: linear-gradient(to right, #109545, rgb(2, 164, 89));
        border-radius: 20px;
        inline-size: 100px;
    }

    #submit:hover {
        background-image: linear-gradient(to left, #109545, rgb(2, 164, 89));
    }
</style>