
  <section>
    <div class="container">
      <div class="row mt-4">
        <a href="/admin/add-product" class="btn btn-success ml-auto">Add Product</a>
      </div>
      <table class="table mt-5" id="productsTable">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Item</th>           
            <th scope="col">Description</th>
            <th class="mr-2">Price</th>
           
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          {{#each products}}
          <tr>
            <th scope="row">{{incrementedIndex @index}}</th>
                      <td>
                        <div class="row">
                            <div>
                                <img style="width: 70px; height: 75px;" src="/product-images/{{this._id}}_0.jpg" class="ml-2"
                                     alt="">
                            </div>
                        
                        <div class="product_details ml-3">
                            {{this.Name}} <br>
                            <span class="text-muted">{{this.Category}}</span> 

                        </div>
                        </div>
                    </td>            
            <td> {{newlineToBr this.Description}}</td>
            <td class="mr-2">{{this.Offer_Price}}</td>
            <td>
              <a href="/admin/edit-product/{{this._id}}" class="btn btn-primary">Edit</a>
             <button class="btn btn-danger" onclick="deleteProduct('{{this._id}}', '{{this.Name}}')">Delete</button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </section>

  <script>
    $(function () {
      $('#productsTable').DataTable();
    });



function deleteProduct(productId, productName) {
  if (confirm(`Are you sure you want to delete ${productName}?`)) {
    $.ajax({
      url: '/admin/delete-product/' + productId,
      method: 'DELETE',
      success: function(response) {
        if (response.success) {
          console.log('Product deleted successfully');
          location.reload(); // Refresh the page or update the DOM as needed
        } else {
          alert('Failed to delete product');
        }
      },
      error: function(error) {
        console.error('Error:', error);
        alert('An error occurred while deleting the product');
      }
    });
  }
}
  </script>

