<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="nvbr">
        <div class="container-fluid">

            <!--  eASY SHOP Logo for Large screens (visible only on Large screens) -->
            <a class="navbar-brand" href="/" title="eASY SHOP"> <img src="/images/eASY-SHOP-logo.png"
                    class="eASY-Logo d-none d-lg-block" alt="eASY SHOP"> </a>

            <!-- Search bar and eASY SHOP Logo for small and medium screens (visible only on small and medium screens) -->
            <a class="navbar-brand" href="/" title="eASY SHOP"> <img src="/images/eASY-SHOP-logo.png"
                    class="eASY-logoS d-lg-none " alt="eASY SHOP"> </a>

            {{#if search}}
            <div class="mx-auto d-md-none">
                <form class="form-inline my-2" onsubmit="searchProducts(event)">
                    <div class="input-group">
                        <input class="form-control" type="search" id="search-inputs" placeholder="Search..."
                            aria-label="Search">
                        <span class="input-group-append">
                            <i class="bi bi-search" id="search-icon"></i>
                        </span>
                    </div>
                </form>
            </div>

            <div class="mx-auto d-md-block d-none d-lg-none">
                <form class="form-inline my-2" onsubmit="searchProducts(event)">
                    <div class="input-group">
                        <input class="form-control" type="search" id="search-input" placeholder="Search..."
                            aria-label="Search">
                        <span class="input-group-append">
                            <i class="bi bi-search" id="search-icon"></i>
                        </span>
                    </div>
                </form>
            </div>
            {{/if}}

            <button class="navbar-toggler  ml-auto" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                aria-label="Toggle navigation" title="Menu">
                <span class="bi bi-text-right"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between " id="navbarTogglerDemo03">

                <ul class="navbar-nav mt-2 mt-lg-0 flex-row">
                    {{#if hide}}
                    {{else}}
                    <li class="nav-item pr-3" id="navItem">
                        <a class="nav-link" href="/" id="header-links"><i class="bi bi-shop-window"></i> Home</a>
                    </li>

                    <li class="nav-item pr-3" id="navItem">
                        <a class="nav-link" id="header-links" href="/cart"><i class="bi bi-cart">
                                <span class="badge" id="cart-count" title="cart count">{{cartCount}}</span> </i>
                            Cart</a>
                    </li>

                    <li class="nav-item pr-3" id="navItem">
                        <a class="nav-link" id="header-links" href="/orders"><i class="bi bi-bag-heart"></i> Orders</a>
                    </li>
                    {{/if}}

                </ul>

                <!-- Search bar for large screens (visible only on large screens) -->
                {{#if search}}
                <div class="mx-auto d-none d-lg-block">
                    <form class="form-inline my-2" onsubmit="searchProducts(event)">
                        <div class="input-group">
                            <input class="form-control " type="search" id="search-inputL" placeholder="Search..."
                                aria-label="Search">
                            <span class="input-group-append ">
                                <i class="bi bi-search " id="search-icon"></i>
                            </span>
                        </div>
                    </form>
                </div>
                {{/if}}

                <ul class="navbar-nav mt-2 mt-lg-0">
                    <li class="nav-item dropdown ml-auto">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            {{#if user}}
                            Hello, <b>{{user.First_Name}}</b>
                            {{else}}
                            <i class="bi bi-person-circle mr-1"></i> Login
                            {{/if}}
                        </button>
                        <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                            {{#if user}}
                            <a class="dropdown-item" href="/your-account"><i class="bi bi-person-circle"></i> Your
                                Account</a>
                            <a class="dropdown-item" href="/contact"><i class="bi bi-headset" id="icons"></i> Contact
                                Us</a>
                            <a class="dropdown-item" href="/about"><i class="bi bi-info-circle-fill"></i> About Us</a>
                            <a class="dropdown-item" href="/logout"><i class="bi bi-box-arrow-left"></i> Logout</a>
                            {{else}}
                            <a class="dropdown-item" href="/login"><i class="bi bi-box-arrow-in-left" id="icons"></i>
                                Login</a>
                            <a class="dropdown-item" href="/signup"><i class="bi bi-cloud-arrow-up-fill" id="icons"></i>
                                Sign Up</a>
                            <a class="dropdown-item" href="/contact"><i class="bi bi-headset" id="icons"></i> Contact
                                Us</a>
                            <a class="dropdown-item" href="/about"><i class="bi bi-info-circle-fill" id="icons"></i>
                                About</a>
                            <a class="dropdown-item" href="/admin/login"><i class="bi bi-person-fill-check"
                                    id="icons"></i> Admin</a>
                            {{/if}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var lastScrollTop = 0;
        var header = document.querySelector("header");

        window.addEventListener("scroll", function () {
            var currentScroll = window.pageYOffset || document.documentElement.scrollTop;

            if (currentScroll > lastScrollTop) {
                // Downscroll
                header.style.top = "-80px"; // Adjust the value if the header height is different
            } else {
                // Upscroll
                header.style.top = "0";
            }

            lastScrollTop = currentScroll <= 0 ? 0 : currentScroll; // For Mobile or negative scrolling
        }, false);
    });

    //for navbar-toggler outline removing(none)
    const button = document.querySelector('.navbar-toggler');
    button.addEventListener('focus', (event) => {
        event.target.style.outline = 'none';
    });


    //for changing Placeholders in search input
    const placeholders = ["Search for products...", "Explore eASY collections...", "Find your favorite items..."];
    let index = 0;

    function changePlaceholder() {
        const searchInput = document.getElementById('search-input');
        const searchInputs = document.getElementById('search-inputs');
        const searchInputL = document.getElementById('search-inputL');
        searchInput.placeholder = placeholders[index];
        searchInputs.placeholder = placeholders[index];
        searchInputL.placeholder = placeholders[index];

        index = (index + 1) % placeholders.length;
    }

    // Change placeholder every 3 seconds
    setInterval(changePlaceholder, 3000);

    // Initialize the first placeholder
    changePlaceholder();
</script>


<style>
    .input-group {
        position: relative;
        display: inline-block;
        margin: 0;
        /* Remove default margins */
    }

    .input-group input {
        padding-left: 40px;
    }

    .input-group-append {
        position: absolute;
        top: -6px;
        left: 0;
        padding: 10px;
        border: none;
        background-color: transparent;
        bottom: 5px;
    }


    /*Search bar and eASY SHOP Logo for medium and Large screens */
    #search-input,
    #search-inputL {
        border-radius: 20px;
        width: 22em;
        background-color: transparent;
        border-width: 2px;
        border-color: #36a3b7;
        box-shadow: 0 4px 8px rgba(21, 105, 131, 0.5);
    }

    .eASY-Logo {
        height: 50px;
        width: 110px;
    }


    /*Search bar and eASY SHOP Logo for small screens  */
    #search-inputs {
        border-radius: 20px;
        width: 14em;
        background-color: transparent;
        border-width: 2px;
        border-color: #36a3b7;
        box-shadow: 0 2px 6px rgba(21, 105, 131, 0.5);
    }

    .eASY-logoS {
        height: 40px;
        width: 90px;
    }

    #search-icon {
        font-size: 20px;
        color: #36a3b7;

    }


    #search-inputs::placeholder {
        color: #217f8f;
    }

    #search-input::placeholder {
        color: #217f8f;
    }

    #search-inputL::placeholder {
        color: #217f8f;
    }


    .nav-link .bi-cart {
        display: inline-block;
        position: relative;
    }

    #header-links {
        color: #3391a2;
        font-weight: 500;
        font-family: 'Times New Roman', Times, serif;
        font-size: larger;
        margin-left: 10px;
    }

    #header-links:hover {
        color: #52b4c6;
    }

    .badge {
        background-color: #309db0;
        color: white;
        border-radius: 50%;
        padding: 2px 6px;
        min-width: 20px;
        position: absolute;
        top: -10px;
        right: -5px;
    }


    .dropdown-toggle {
        background-color: #35a8b7;
        box-shadow: 0 2px 6px rgba(21, 105, 131, 0.5);
        border-radius: 20px;
        color: white;
        min-width: 140px;
    }

    .dropdown-toggle:hover {
        background-color: white;
        color: #35a8b7;
    }


    .navbar-toggler {
        border-radius: 10px;
        padding: 1px;
        border: none;
        outline: none;
        font-size: 30px;
    }

    .bi-text-right {
        color: rgb(224, 215, 215);
    }

    .dropdown-item {
        color: #217f8f;
    }

    .dropdown-item:hover {
        color: rgb(32, 161, 190);
        background-color: rgba(176, 213, 238, 0.125);
    }

    body {
        padding-top: 60px;
        /* Adjust this value to match the height of your header */
    }

    header {
        position: fixed;
        width: 100%;
        z-index: 1;
        top: 0;
        transition: top 0.3s;
        /* Smooth transition */
    }


    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
        border-radius: 10px;
    }

    #nvbr {
        background-image: url('/images/header.png');
        background-size: cover;
        background-repeat: no-repeat;
    }


    
    @media (max-width: 768px) {
     .eASY-logoS {
        margin-left: -20px;
        height: 40px;
        width: 90px;
    }
         #search-inputs {
        width: 13.5em;
         }
         #navItem{
            font-size: small;
         }
         #dropdown-toggle{
          
         }

  }

</style>