<section class="bg-section">
    <div class="container pt-5">
     
        <table class="table mt-5 " id="productsTable">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Item</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>

                    <th scope="row">{{incrementedIndex @index}}</th>
                    <td>
                        <div class="row">
                            <div class="ml-2">
                                <img src="/product-images/{{this.product._id}}_0.jpg" style="width:100px;height: 90px"
                                    alt="">
                            </div>
                            <div class="ml-2">
                                {{this.product.Name}} <br>
                                <span class="text-muted">{{this.product.Category}}</span>
                            </div>
                            
                        </div>
                    </td>
                    <td>₹{{this.product.Offer_Price}}</td>


                    <td>

                        <button class="cart-item-count mr-3 " style="border-radius: 5px; "
                            onclick=" changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)">-</button>
                        <span id="{{this.product._id}}">{{this.quantity}}</span>
                        <button class="cart-item-count ml-3" style="border-radius: 5px; "
                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)">+</button>
                    </td>
                    <td >
                        <button class="btn dltBtn"  onclick="deleteCartProduct('{{this.product._id}}')">Delete</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <hr>
        {{#if placeOrder}}
        <div class="row float-right pr-5" id="pop">
          <div>
            <h5 class="float-left mr-5 mt-4">Total: Rs.<span id="total">{{totalValue}}</span></h5>
          </div>
          <div>
             <a href="/place-order" class="btn btn-success mt-3 " style="width: 100%;"><b>Place Order</b></a>
          </div>
        </div>
        {{/if}}
    </div>

    <!-- Confirmation Modal -->
<div id="confirmationModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Removing the item from the cart. Are you sure?</p>
    <button id="confirmRemove" class="btn okBtn">OK</button>
    <button id="cancelRemove" class="btn cancelBtn">Cancel</button>
  </div>
</div>

</section>

<script>


    function deleteCartProduct(productId) {
      showConfirmationModal(() => {
        $.ajax({
            url: '/delete-cart-product/' + productId,
            method: 'DELETE',
            success: function (response) {
                if (response.success) {
                    console.log('Product deleted successfully');
                    location.reload();
                } else {
                    alert('Failed to delete product');
                }
            },
            error: function (error) {
                console.error('Error:', error);
                alert('An error occurred while deleting the product');
            }
        });
      })
    }


    $(function () {
        $('#productsTable').DataTable();
    });


    function changeQuantity(cartId, proId, userId, count) {
  let quantity = parseInt(document.getElementById(proId).innerHTML);
  count = parseInt(count);

  // Check if the current quantity will become one after decreasing
  if (quantity === 1 && count === -1) {
    // Display the custom confirmation dialog
    showConfirmationModal(() => {
      // User confirmed the removal
      $.ajax({
        url: '/change-product-quantity',
        data: {
          user: userId,
          cart: cartId,
          product: proId,
          count: count,
          quantity: quantity
        },
        method: 'post',
        success: (response) => {
          if (response.removeProduct) {
            // Remove the corresponding table row
            $(`#${proId}`).closest('tr').remove();
            // Update total value
            document.getElementById('total').innerHTML = response.total;
            // Check if the total count of products becomes zero
            if (response.cartCount === 0) {
              // Hide the 'Place Order' section and 'Total: Rs' div
              $('#placeOrderSection').hide();
              $('#totalSection').hide();
            }
          } else {
            document.getElementById(proId).innerHTML = quantity + count;
            document.getElementById('total').innerHTML = response.total;
          }
        }
      });
    });
    return;
  }

  $.ajax({
    url: '/change-product-quantity',
    data: {
      user: userId,
      cart: cartId,
      product: proId,
      count: count,
      quantity: quantity
    },
    method: 'post',
    success: (response) => {
      if (response.removeProduct) {
        // Remove the corresponding table row
        $(`#${proId}`).closest('tr').remove();
        // Update total value
        document.getElementById('total').innerHTML = response.total;
        // Check if the total count of products becomes zero
        if (response.cartCount === 0) {
          // Hide the 'Place Order' section and 'Total: Rs' div
          $('#placeOrderSection').hide();
          $('#totalSection').hide();
        }
      } else {
        document.getElementById(proId).innerHTML = quantity + count;
        document.getElementById('total').innerHTML = response.total;
      }
    }
  });
}

function showConfirmationModal(confirmCallback) {
  // Get the modal
  var modal = document.getElementById("confirmationModal");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // Get the confirm and cancel buttons
  var confirmButton = document.getElementById("confirmRemove");
  var cancelButton = document.getElementById("cancelRemove");

  // Show the modal
  modal.style.display = "block";

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }

  // When the user clicks on confirm button
  confirmButton.onclick = function() {
    modal.style.display = "none";
    confirmCallback();
  }

  // When the user clicks on cancel button
  cancelButton.onclick = function() {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
}


</script>

<style>
  .bg-section {
    background-image: url('/images/8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
 section .container {
    background: rgba(255, 255, 255, 0.8); /* Optional: Add a semi-transparent background to improve text readability */
    padding: 20px;
    border-radius: 10px;
}
  
    /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 400px; /* Maximum width */
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.okBtn {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
}

.cancelBtn {
  background-color: grey;
  color: white;
  border: none;
   padding: 10px 20px;
  margin: 10px;
}

.dltBtn{
  background-color: white;
  box-shadow: 0 2px 8px rgba(21, 105, 131, 0.5);
  border-radius: 20px;
  color: rgb(209, 111, 58);
  font-weight: bold;
}

.dltBtn:hover{
background-color: rgb(209, 111, 58);
color: white;
}
</style>