<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Edit Your Product</h2>
                <form action="/edit-user-product/{{product._id}}" method="post" enctype="multipart/form-data">
                    <label for="">Name</label>
                    <input type="text" name="Name" class="form-control" placeholder="Enter product name" value="{{product.Name}}" required>

                    <label for="">Category</label>
                    <input type="text" name="Category" class="form-control" placeholder="Enter product category" value="{{product.Category}}"  required>

                    <!-- Hidden User Product Statuses -->
                    <input type="text" name="Updations" value="Updated" hidden>
                    <input type="text" name="Product_Owner" value="User" hidden>
                 
                    <div class="row">
                        <div class="ml-3">
                            <label for="">Actual Price</label>
                            <input type="number" name="Actual_Price" class="form-control" placeholder="Actual price" value="{{product.Actual_Price}}"  required>
                        </div>
                        <div class="ml-3">
                            <label for="">Offer Percentage</label>
                            <input type="number" name="Offer_Percentage" class="form-control" placeholder="Offer percentage" value="{{product.Offer_Percentage}}" required>
                        </div>
                        <div class="ml-3">
                            <label for="">Offer Price</label>
                            <input type="number" name="Offer_Price" class="form-control" placeholder="Offer price" value="{{product.Offer_Price}}" required>
                        </div>
                         <div class="ml-3">
                            <label for="stock-count">Stock Count</label>
                            <input type="number" name="Stock_Count" class="form-control" id="stock-count" placeholder="Stock count" value="{{product.Stock_Count}}" required>
                        </div>
                    </div>
                    <label for="">Description</label>
                    <textarea class="form-control" type="text" name="Description" placeholder="Enter product description" rows="3" required>{{product.Description}}</textarea>
                   
                     <h5 class="text-center mt-2">Product Enquiry Contact Information</h5>

                    <label for="shop-address">Shop Address</label>                   
                    <textarea class="form-control" type="text"  name="Shop_Address" rows="3" placeholder="Enter shop address" id="shop-address" required>{{product.Shop_Address}}</textarea>
                    
                    <div class="row">                      
                       <div class="ml-3">
                            <label for="email"> Email</label>
                            <input type="email" name="Email" class="form-control" id="email" placeholder="Email address" value="{{product.Email}}" required>
                        </div>
                        <div class=" ml-3  ">
                            <label for="phone">Phone</label> 
                            <input type="tel" id="phone" name="Phone" pattern="[0-9]{10}" class="form-control" placeholder="Phone number" value="{{product.Phone}}" required>                            
                        </div>
                        <div class="ml-3">
                            <label for="whatsapp">Whatsapp</label>
                           <input type="tel" id="whatsapp" name="Whatsapp" pattern="[0-9]{10}" placeholder="Whatsapp number"  class="form-control" value="{{product.Whatsapp}}" required>
                        </div>                      
                    </div>    

                    <div class="row mb-4">                       
                        <button type="submit" class="btn btn-success mt-4 ml-auto" id="submit">Submit</button>                      
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

<style>
    #submit{
    background-image: linear-gradient(to right, #109545, rgb(2, 164, 89));
    border-radius: 20px;
    inline-size: 100px;
}

#submit:hover{
    background-image: linear-gradient(to left, #109545, rgb(2, 164, 89));
}

</style>

