<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Edit User Products</h2>
                <form action="/edit-user-product/{{product._id}}" method="post" enctype="multipart/form-data" novalidate>
                    <label for="">Name</label>
                    <input type="text" name="Name" class="form-control" value="{{product.Name}}">
                    <input type="text" name="Updations" value="Updated" hidden>
                    <label for="">Category</label>
                    <input type="text" name="Product_Owner" value="User" hidden>

                    <input type="text" name="Category" class="form-control" value="{{product.Category}}">
                    <div class="row">
                        <div class="ml-3">
                            <label for="">Actual Price</label>
                            <input type="number" name="Actual_Price" class="form-control" value="{{product.Actual_Price}}">
                        </div>
                        <div class="ml-3">
                            <label for="">Offer Percentage</label>
                            <input type="number" name="Offer_Percentage" class="form-control" value="{{product.Offer_Percentage}}">
                        </div>
                        <div class="ml-3">
                            <label for="">Offer Price</label>
                            <input type="number" name="Offer_Price" class="form-control" value="{{product.Offer_Price}}">
                        </div>
                    </div>
                    <label for="">Description</label>
                    <textarea class="form-control" type="text" name="Description" rows="3">{{product.Description}}</textarea>
                    <label for="">Selling Address</label>
                    <textarea class="form-control" type="text" name="Selling_Address" rows="3">{{product.Selling_Address}}</textarea>
                    <div class="ml-auto">
                        <button type="submit" class="btn btn-success mt-4">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    // Ensure no JavaScript is interfering with form submission
    document.querySelector('form').addEventListener('submit', function(event) {
        console.log('Form is being submitted');
    });
</script>
