<section>
  <div class="container-fluid pl-5 pr-5" style="background-color: grey;">
    <div class="container-fluid ml-2 mr-2" style="background-color: white;">
      <div class="row pt-5">

        <div class="left-content col-12 pl-5 pr-5 col-md-5">
          <div class="card pl-2 pt-1 pr-2 text-center" style="background-color: grey;">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                {{#each images}}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{@index}}"
                  class="{{#if @first}}active{{/if}}"></li>
                {{/each}}
              </ol>
              <div class="carousel-inner">
                {{#each images}}
                <div class="carousel-item {{#if @first}}active{{/if}}">
                  <img class="d-block w-100" src="/product-images/{{this}}" alt="Slide {{@index}}">
                </div>
                {{/each}}
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <div class="text-center pt-3 pb-2">
              <button type="button" class="btn btn-primary btn-lg mt-1" style="min-width: 10rem; max-width: 15rem;">
                <div>Add to Cart</div>
              </button>
              <button type="button" class="btn btn-secondary btn-lg mt-1" style="min-width: 10rem; max-width: 15rem;">
                <div class="pr-3 pl-3">Buy now</div>
              </button>
            </div>
          </div>
        </div>





        <div class="col-md-7 overflow-hidden pl-5" id="textContent">
          <div class="row">
            <div class="mb-5">
              <h2>Product Name {{product.Name}}</h2>

              <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
              </div>
              <img src="/images/Fassured.jpg" alt="" style="height:50px; width: 100px;">
            </div>
          </div>
          <div>
            <label  style="color:green">Offer Price </label>

            <div class="row ml-1 ">
              <div class="offer" style="font-size: x-large;">

                <p class="glow">
                  ₹{{product.Offer_Price}}
                </p>




              </div>
              <div class="ml-4 mt-1">
                 <p class="text-muted"> M.R.P: <br><span> <del >₹{{product.Actual_Price}} </del></span></p>
                
              </div>
              <div class="ml-5 ">
                <p class="badge "> {{product.Offer_Percentage}}% Off</p>
              </div>
            </div>
          </div>

          <div class="dody mt-4">


            <span class="heading">User Rating</span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <p>4.1 average based on 254 reviews.</p>
            <hr style="border:3px solid #f1f1f1">

            <div class="row">
              <div class="side">
                <div>5 star</div>
              </div>
              <div class="middle">
                <div class="bar-container">
                  <div class="bar-5"></div>
                </div>
              </div>
              <div class="side right">
                <div>150</div>
              </div>
              <div class="side">
                <div>4 star</div>
              </div>
              <div class="middle">
                <div class="bar-container">
                  <div class="bar-4"></div>
                </div>
              </div>
              <div class="side right">
                <div>63</div>
              </div>
              <div class="side">
                <div>3 star</div>
              </div>
              <div class="middle">
                <div class="bar-container">
                  <div class="bar-3"></div>
                </div>
              </div>
              <div class="side right">
                <div>15</div>
              </div>
              <div class="side">
                <div>2 star</div>
              </div>
              <div class="middle">
                <div class="bar-container">
                  <div class="bar-2"></div>
                </div>
              </div>
              <div class="side right">
                <div>6</div>
              </div>
              <div class="side">
                <div>1 star</div>
              </div>
              <div class="middle">
                <div class="bar-container">
                  <div class="bar-1"></div>
                </div>
              </div>
              <div class="side right">
                <div>20</div>
              </div>
            </div>

          </div>

        </div>




      </div>
    </div>
  </div>
</section>




<script>
  $('.carousel').carousel({
    interval: 2000
  })

</script>
<style>
  .checked {
    color: orange;
  }

  #carouselExampleIndicators {
    width: 100%;
    height: 100%;
  }

  .carousel-inner img {
    width: 100%;
    height: 350px;
  }

  .overflow-hidden {
    overflow: hidden;
  }

  .overflow-auto {
    overflow: auto;
  }

  #textContent {
    max-height: 585px;
    overflow-y: auto;
  }

  .badge {
    background-color: #069c2e;
    color: white;
    padding: 12px 12px;
    text-align: center;
    font-size: larger;
    font-family: Cursive;
    border-radius: 10px;
    animation: glow 1s ease-in-out infinite alternate;
  }


  .glow {
    font-size: 40px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }

  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073, 0 0 25px #e60073, 0 0 30px #e60073, 0 0 35px #e60073;
    }

    to {
      text-shadow: 0 0 10px #fff, 0 0 15px #ff4da6, 0 0 20px #ff4da6, 0 0 25px #ff4da6, 0 0 30px #ff4da6, 0 0 35px #ff4da6, 0 0 40px #ff4da6;
    }
  }








  .dody {
    font-family: Arial;
    margin: 0 auto;
    /* Center website */
    max-width: 800px;
    /* Max width */
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;

    border-style: inset;
  }

  .heading {
    font-size: 25px;
    margin-right: 25px;
  }

  .fa {
    font-size: 25px;
  }

  .checked {
    color: orange;
  }

  /* Three column layout */
  .side {
    float: left;
    width: 15%;
    margin-top: 10px;
  }

  .middle {
    float: left;
    width: 70%;
    margin-top: 10px;
  }

  /* Place text to the right */
  .right {
    text-align: right;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* The bar container */
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }

  /* Individual bars */
  .bar-5 {
    width: 60%;
    height: 18px;
    background-color: #04AA6D;
  }

  .bar-4 {
    width: 30%;
    height: 18px;
    background-color: #2196F3;
  }

  .bar-3 {
    width: 10%;
    height: 18px;
    background-color: #00bcd4;
  }

  .bar-2 {
    width: 4%;
    height: 18px;
    background-color: #ff9800;
  }

  .bar-1 {
    width: 15%;
    height: 18px;
    background-color: #f44336;
  }

  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
  @media (max-width: 400px) {

    .side,
    .middle {
      width: 100%;
    }

    /* Hide the right column on small screens */
    .right {
      display: none;
    }
  }
</style>